@import url(https://fonts.googleapis.com/css?family=Exo:100);
@import url(https://fonts.googleapis.com/css?family=Exo:100);
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.stalker {
  position: fixed;
  top: -8px;
  left: -8px;
  width: 16px;
  height: 16px;
  z-index: 9998;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  -webkit-transition: top, .5s, left .5s, width .5s, height .5s, background-color .5s, -webkit-transform .2s;
  transition: top, .5s, left .5s, width .5s, height .5s, background-color .5s, -webkit-transform .2s;
  transition: transform .2s, top, .5s, left .5s, width .5s, height .5s, background-color .5s;
  transition: transform .2s, top, .5s, left .5s, width .5s, height .5s, background-color .5s, -webkit-transform .2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  pointer-events: none;
}

.stalker.hov_ {
  width: 350px;
  height: 350px;
  top: -175px;
  left: -175px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(../img/top.png);
  border-radius: 0;
}

.opening {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9998;
  color: #999;
  text-align: center;
  background-color: #fff;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse .92s linear infinite;
          animation: bg-scrolling-reverse .92s linear infinite;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

.opening__bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.shutter-anime {
  -webkit-animation: shutter 2s ease-in-out 1.8s forwards, bg-scrolling-reverse .92s linear infinite;
          animation: shutter 2s ease-in-out 1.8s forwards, bg-scrolling-reverse .92s linear infinite;
}

@-webkit-keyframes shutter {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(120%) skewX(10deg);
            transform: translateX(120%) skewX(10deg);
  }
}

@keyframes shutter {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(120%) skewX(10deg);
            transform: translateX(120%) skewX(10deg);
  }
}

.opening-finished {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#animation,
.opening__path {
  fill: none;
  stroke: #fff;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
}

.index {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-image: url(../img/top_back.jpg);
  background-size: cover;
  background-position: top;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.index__effect {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.index__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index__logo--img {
  opacity: 0;
  -webkit-animation: fadein 2s 5.5s forwards;
          animation: fadein 2s 5.5s forwards;
  z-index: 10;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.index__effect--blob:nth-child(1) {
  -webkit-animation: move1 10s infinite linear;
          animation: move1 10s infinite linear;
}

@-webkit-keyframes move1 {
  from {
    -webkit-transform: rotate(90deg) translate(250px, 0.1px) rotate(-90deg);
            transform: rotate(90deg) translate(250px, 0.1px) rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(450deg) translate(250px, 0.1px) rotate(-450deg);
            transform: rotate(450deg) translate(250px, 0.1px) rotate(-450deg);
  }
}

@keyframes move1 {
  from {
    -webkit-transform: rotate(90deg) translate(250px, 0.1px) rotate(-90deg);
            transform: rotate(90deg) translate(250px, 0.1px) rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(450deg) translate(250px, 0.1px) rotate(-450deg);
            transform: rotate(450deg) translate(250px, 0.1px) rotate(-450deg);
  }
}

.index__effect--blob:nth-child(2) {
  -webkit-animation: move2 10s infinite linear;
          animation: move2 10s infinite linear;
}

@-webkit-keyframes move2 {
  from {
    -webkit-transform: rotate(180deg) translate(250px, 0.1px) rotate(-180deg);
            transform: rotate(180deg) translate(250px, 0.1px) rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(540deg) translate(250px, 0.1px) rotate(-540deg);
            transform: rotate(540deg) translate(250px, 0.1px) rotate(-540deg);
  }
}

@keyframes move2 {
  from {
    -webkit-transform: rotate(180deg) translate(250px, 0.1px) rotate(-180deg);
            transform: rotate(180deg) translate(250px, 0.1px) rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(540deg) translate(250px, 0.1px) rotate(-540deg);
            transform: rotate(540deg) translate(250px, 0.1px) rotate(-540deg);
  }
}

.index__effect--blob:nth-child(3) {
  -webkit-animation: move3 10s infinite linear;
          animation: move3 10s infinite linear;
}

@-webkit-keyframes move3 {
  from {
    -webkit-transform: rotate(270deg) translate(250px, 0.1px) rotate(-270deg);
            transform: rotate(270deg) translate(250px, 0.1px) rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(630deg) translate(250px, 0.1px) rotate(-630deg);
            transform: rotate(630deg) translate(250px, 0.1px) rotate(-630deg);
  }
}

@keyframes move3 {
  from {
    -webkit-transform: rotate(270deg) translate(250px, 0.1px) rotate(-270deg);
            transform: rotate(270deg) translate(250px, 0.1px) rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(630deg) translate(250px, 0.1px) rotate(-630deg);
            transform: rotate(630deg) translate(250px, 0.1px) rotate(-630deg);
  }
}

.index__effect--blob:nth-child(4) {
  -webkit-animation: move4 10s infinite linear;
          animation: move4 10s infinite linear;
}

@-webkit-keyframes move4 {
  from {
    -webkit-transform: rotate(360deg) translate(250px, 0.1px) rotate(-360deg);
            transform: rotate(360deg) translate(250px, 0.1px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(720deg) translate(250px, 0.1px) rotate(-720deg);
            transform: rotate(720deg) translate(250px, 0.1px) rotate(-720deg);
  }
}

@keyframes move4 {
  from {
    -webkit-transform: rotate(360deg) translate(250px, 0.1px) rotate(-360deg);
            transform: rotate(360deg) translate(250px, 0.1px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(720deg) translate(250px, 0.1px) rotate(-720deg);
            transform: rotate(720deg) translate(250px, 0.1px) rotate(-720deg);
  }
}

.index__effect--blob:nth-child(5) {
  -webkit-animation: move5 10s infinite linear;
          animation: move5 10s infinite linear;
}

@-webkit-keyframes move5 {
  from {
    -webkit-transform: rotate(450deg) translate(250px, 0.1px) rotate(-450deg);
            transform: rotate(450deg) translate(250px, 0.1px) rotate(-450deg);
  }
  to {
    -webkit-transform: rotate(810deg) translate(250px, 0.1px) rotate(-810deg);
            transform: rotate(810deg) translate(250px, 0.1px) rotate(-810deg);
  }
}

@keyframes move5 {
  from {
    -webkit-transform: rotate(450deg) translate(250px, 0.1px) rotate(-450deg);
            transform: rotate(450deg) translate(250px, 0.1px) rotate(-450deg);
  }
  to {
    -webkit-transform: rotate(810deg) translate(250px, 0.1px) rotate(-810deg);
            transform: rotate(810deg) translate(250px, 0.1px) rotate(-810deg);
  }
}

.index__effect--blob:nth-child(6) {
  -webkit-animation: move6 10s infinite linear;
          animation: move6 10s infinite linear;
}

@-webkit-keyframes move6 {
  from {
    -webkit-transform: rotate(540deg) translate(250px, 0.1px) rotate(-540deg);
            transform: rotate(540deg) translate(250px, 0.1px) rotate(-540deg);
  }
  to {
    -webkit-transform: rotate(900deg) translate(250px, 0.1px) rotate(-900deg);
            transform: rotate(900deg) translate(250px, 0.1px) rotate(-900deg);
  }
}

@keyframes move6 {
  from {
    -webkit-transform: rotate(540deg) translate(250px, 0.1px) rotate(-540deg);
            transform: rotate(540deg) translate(250px, 0.1px) rotate(-540deg);
  }
  to {
    -webkit-transform: rotate(900deg) translate(250px, 0.1px) rotate(-900deg);
            transform: rotate(900deg) translate(250px, 0.1px) rotate(-900deg);
  }
}

.index__effect--blob:nth-child(7) {
  -webkit-animation: move7 10s infinite linear;
          animation: move7 10s infinite linear;
}

@-webkit-keyframes move7 {
  from {
    -webkit-transform: rotate(630deg) translate(250px, 0.1px) rotate(-630deg);
            transform: rotate(630deg) translate(250px, 0.1px) rotate(-630deg);
  }
  to {
    -webkit-transform: rotate(990deg) translate(250px, 0.1px) rotate(-990deg);
            transform: rotate(990deg) translate(250px, 0.1px) rotate(-990deg);
  }
}

@keyframes move7 {
  from {
    -webkit-transform: rotate(630deg) translate(250px, 0.1px) rotate(-630deg);
            transform: rotate(630deg) translate(250px, 0.1px) rotate(-630deg);
  }
  to {
    -webkit-transform: rotate(990deg) translate(250px, 0.1px) rotate(-990deg);
            transform: rotate(990deg) translate(250px, 0.1px) rotate(-990deg);
  }
}

.index__effect--blob:nth-child(8) {
  -webkit-animation: move8 10s infinite linear;
          animation: move8 10s infinite linear;
}

@-webkit-keyframes move8 {
  from {
    -webkit-transform: rotate(720deg) translate(250px, 0.1px) rotate(-720deg);
            transform: rotate(720deg) translate(250px, 0.1px) rotate(-720deg);
  }
  to {
    -webkit-transform: rotate(1080deg) translate(250px, 0.1px) rotate(-1080deg);
            transform: rotate(1080deg) translate(250px, 0.1px) rotate(-1080deg);
  }
}

@keyframes move8 {
  from {
    -webkit-transform: rotate(720deg) translate(250px, 0.1px) rotate(-720deg);
            transform: rotate(720deg) translate(250px, 0.1px) rotate(-720deg);
  }
  to {
    -webkit-transform: rotate(1080deg) translate(250px, 0.1px) rotate(-1080deg);
            transform: rotate(1080deg) translate(250px, 0.1px) rotate(-1080deg);
  }
}

.index__effect--blob:nth-child(9) {
  -webkit-animation: move9 10s infinite linear;
          animation: move9 10s infinite linear;
}

@-webkit-keyframes move9 {
  from {
    -webkit-transform: rotate(810deg) translate(250px, 0.1px) rotate(-810deg);
            transform: rotate(810deg) translate(250px, 0.1px) rotate(-810deg);
  }
  to {
    -webkit-transform: rotate(1170deg) translate(250px, 0.1px) rotate(-1170deg);
            transform: rotate(1170deg) translate(250px, 0.1px) rotate(-1170deg);
  }
}

@keyframes move9 {
  from {
    -webkit-transform: rotate(810deg) translate(250px, 0.1px) rotate(-810deg);
            transform: rotate(810deg) translate(250px, 0.1px) rotate(-810deg);
  }
  to {
    -webkit-transform: rotate(1170deg) translate(250px, 0.1px) rotate(-1170deg);
            transform: rotate(1170deg) translate(250px, 0.1px) rotate(-1170deg);
  }
}

.index__effect--blob:nth-child(10) {
  -webkit-animation: move10 10s infinite linear;
          animation: move10 10s infinite linear;
}

@-webkit-keyframes move10 {
  from {
    -webkit-transform: rotate(900deg) translate(250px, 0.1px) rotate(-900deg);
            transform: rotate(900deg) translate(250px, 0.1px) rotate(-900deg);
  }
  to {
    -webkit-transform: rotate(1260deg) translate(250px, 0.1px) rotate(-1260deg);
            transform: rotate(1260deg) translate(250px, 0.1px) rotate(-1260deg);
  }
}

@keyframes move10 {
  from {
    -webkit-transform: rotate(900deg) translate(250px, 0.1px) rotate(-900deg);
            transform: rotate(900deg) translate(250px, 0.1px) rotate(-900deg);
  }
  to {
    -webkit-transform: rotate(1260deg) translate(250px, 0.1px) rotate(-1260deg);
            transform: rotate(1260deg) translate(250px, 0.1px) rotate(-1260deg);
  }
}

.index__effect--blob:nth-child(11) {
  -webkit-animation: move11 10s infinite linear;
          animation: move11 10s infinite linear;
}

@-webkit-keyframes move11 {
  from {
    -webkit-transform: rotate(990deg) translate(250px, 0.1px) rotate(-990deg);
            transform: rotate(990deg) translate(250px, 0.1px) rotate(-990deg);
  }
  to {
    -webkit-transform: rotate(1350deg) translate(250px, 0.1px) rotate(-1350deg);
            transform: rotate(1350deg) translate(250px, 0.1px) rotate(-1350deg);
  }
}

@keyframes move11 {
  from {
    -webkit-transform: rotate(990deg) translate(250px, 0.1px) rotate(-990deg);
            transform: rotate(990deg) translate(250px, 0.1px) rotate(-990deg);
  }
  to {
    -webkit-transform: rotate(1350deg) translate(250px, 0.1px) rotate(-1350deg);
            transform: rotate(1350deg) translate(250px, 0.1px) rotate(-1350deg);
  }
}

.index__effect--blob:nth-child(12) {
  -webkit-animation: move12 10s infinite linear;
          animation: move12 10s infinite linear;
}

@-webkit-keyframes move12 {
  from {
    -webkit-transform: rotate(1080deg) translate(250px, 0.1px) rotate(-1080deg);
            transform: rotate(1080deg) translate(250px, 0.1px) rotate(-1080deg);
  }
  to {
    -webkit-transform: rotate(1440deg) translate(250px, 0.1px) rotate(-1440deg);
            transform: rotate(1440deg) translate(250px, 0.1px) rotate(-1440deg);
  }
}

@keyframes move12 {
  from {
    -webkit-transform: rotate(1080deg) translate(250px, 0.1px) rotate(-1080deg);
            transform: rotate(1080deg) translate(250px, 0.1px) rotate(-1080deg);
  }
  to {
    -webkit-transform: rotate(1440deg) translate(250px, 0.1px) rotate(-1440deg);
            transform: rotate(1440deg) translate(250px, 0.1px) rotate(-1440deg);
  }
}

.index__effect--blob:nth-child(13) {
  -webkit-animation: move13 10s infinite linear;
          animation: move13 10s infinite linear;
}

@-webkit-keyframes move13 {
  from {
    -webkit-transform: rotate(1170deg) translate(250px, 0.1px) rotate(-1170deg);
            transform: rotate(1170deg) translate(250px, 0.1px) rotate(-1170deg);
  }
  to {
    -webkit-transform: rotate(1530deg) translate(250px, 0.1px) rotate(-1530deg);
            transform: rotate(1530deg) translate(250px, 0.1px) rotate(-1530deg);
  }
}

@keyframes move13 {
  from {
    -webkit-transform: rotate(1170deg) translate(250px, 0.1px) rotate(-1170deg);
            transform: rotate(1170deg) translate(250px, 0.1px) rotate(-1170deg);
  }
  to {
    -webkit-transform: rotate(1530deg) translate(250px, 0.1px) rotate(-1530deg);
            transform: rotate(1530deg) translate(250px, 0.1px) rotate(-1530deg);
  }
}

.index__effect--blob:nth-child(14) {
  -webkit-animation: move14 10s infinite linear;
          animation: move14 10s infinite linear;
}

@-webkit-keyframes move14 {
  from {
    -webkit-transform: rotate(1260deg) translate(250px, 0.1px) rotate(-1260deg);
            transform: rotate(1260deg) translate(250px, 0.1px) rotate(-1260deg);
  }
  to {
    -webkit-transform: rotate(1620deg) translate(250px, 0.1px) rotate(-1620deg);
            transform: rotate(1620deg) translate(250px, 0.1px) rotate(-1620deg);
  }
}

@keyframes move14 {
  from {
    -webkit-transform: rotate(1260deg) translate(250px, 0.1px) rotate(-1260deg);
            transform: rotate(1260deg) translate(250px, 0.1px) rotate(-1260deg);
  }
  to {
    -webkit-transform: rotate(1620deg) translate(250px, 0.1px) rotate(-1620deg);
            transform: rotate(1620deg) translate(250px, 0.1px) rotate(-1620deg);
  }
}

.index__effect--blob:nth-child(15) {
  -webkit-animation: move15 10s infinite linear;
          animation: move15 10s infinite linear;
}

@-webkit-keyframes move15 {
  from {
    -webkit-transform: rotate(1350deg) translate(250px, 0.1px) rotate(-1350deg);
            transform: rotate(1350deg) translate(250px, 0.1px) rotate(-1350deg);
  }
  to {
    -webkit-transform: rotate(1710deg) translate(250px, 0.1px) rotate(-1710deg);
            transform: rotate(1710deg) translate(250px, 0.1px) rotate(-1710deg);
  }
}

@keyframes move15 {
  from {
    -webkit-transform: rotate(1350deg) translate(250px, 0.1px) rotate(-1350deg);
            transform: rotate(1350deg) translate(250px, 0.1px) rotate(-1350deg);
  }
  to {
    -webkit-transform: rotate(1710deg) translate(250px, 0.1px) rotate(-1710deg);
            transform: rotate(1710deg) translate(250px, 0.1px) rotate(-1710deg);
  }
}

.index__effect--blob:nth-child(16) {
  -webkit-animation: move16 10s infinite linear;
          animation: move16 10s infinite linear;
}

@-webkit-keyframes move16 {
  from {
    -webkit-transform: rotate(1440deg) translate(250px, 0.1px) rotate(-1440deg);
            transform: rotate(1440deg) translate(250px, 0.1px) rotate(-1440deg);
  }
  to {
    -webkit-transform: rotate(1800deg) translate(250px, 0.1px) rotate(-1800deg);
            transform: rotate(1800deg) translate(250px, 0.1px) rotate(-1800deg);
  }
}

@keyframes move16 {
  from {
    -webkit-transform: rotate(1440deg) translate(250px, 0.1px) rotate(-1440deg);
            transform: rotate(1440deg) translate(250px, 0.1px) rotate(-1440deg);
  }
  to {
    -webkit-transform: rotate(1800deg) translate(250px, 0.1px) rotate(-1800deg);
            transform: rotate(1800deg) translate(250px, 0.1px) rotate(-1800deg);
  }
}

.index__effect--blob:nth-child(17) {
  -webkit-animation: move17 10s infinite linear;
          animation: move17 10s infinite linear;
}

@-webkit-keyframes move17 {
  from {
    -webkit-transform: rotate(1530deg) translate(250px, 0.1px) rotate(-1530deg);
            transform: rotate(1530deg) translate(250px, 0.1px) rotate(-1530deg);
  }
  to {
    -webkit-transform: rotate(1890deg) translate(250px, 0.1px) rotate(-1890deg);
            transform: rotate(1890deg) translate(250px, 0.1px) rotate(-1890deg);
  }
}

@keyframes move17 {
  from {
    -webkit-transform: rotate(1530deg) translate(250px, 0.1px) rotate(-1530deg);
            transform: rotate(1530deg) translate(250px, 0.1px) rotate(-1530deg);
  }
  to {
    -webkit-transform: rotate(1890deg) translate(250px, 0.1px) rotate(-1890deg);
            transform: rotate(1890deg) translate(250px, 0.1px) rotate(-1890deg);
  }
}

.index__effect--blob:nth-child(18) {
  -webkit-animation: move18 10s infinite linear;
          animation: move18 10s infinite linear;
}

@-webkit-keyframes move18 {
  from {
    -webkit-transform: rotate(1620deg) translate(250px, 0.1px) rotate(-1620deg);
            transform: rotate(1620deg) translate(250px, 0.1px) rotate(-1620deg);
  }
  to {
    -webkit-transform: rotate(1980deg) translate(250px, 0.1px) rotate(-1980deg);
            transform: rotate(1980deg) translate(250px, 0.1px) rotate(-1980deg);
  }
}

@keyframes move18 {
  from {
    -webkit-transform: rotate(1620deg) translate(250px, 0.1px) rotate(-1620deg);
            transform: rotate(1620deg) translate(250px, 0.1px) rotate(-1620deg);
  }
  to {
    -webkit-transform: rotate(1980deg) translate(250px, 0.1px) rotate(-1980deg);
            transform: rotate(1980deg) translate(250px, 0.1px) rotate(-1980deg);
  }
}

#page-end::before {
  content: '';
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130%;
  height: 100vh;
  top: 0;
  right: 100%;
  z-index: 9999;
  color: #999;
  text-align: center;
  background-color: #fff;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  pointer-events: none;
}

#page-end.is-slide-in::before {
  -webkit-animation: slide-end 1.5s ease-in-out forwards;
          animation: slide-end 1.5s ease-in-out forwards;
}

@-webkit-keyframes slide-end {
  from {
    right: 100%;
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
  }
  to {
    right: 0;
  }
}

@keyframes slide-end {
  from {
    right: 100%;
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
  }
  to {
    right: 0;
  }
}

body {
  background-color: #000;
}

#page-start::before {
  content: '';
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130%;
  height: 100vh;
  top: 0;
  left: 100%;
  color: #999;
  text-align: center;
  background-color: #fff;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  pointer-events: none;
}

.is-slide-in::before {
  -webkit-animation: slide-start 1.5s ease-in-out forwards;
          animation: slide-start 1.5s ease-in-out forwards;
}

@-webkit-keyframes slide-start {
  from {
    left: 100%;
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
  }
  to {
    left: 0;
  }
}

@keyframes slide-start {
  from {
    left: 100%;
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
  }
  to {
    left: 0;
  }
}

main {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: .8s;
  transition: .8s;
}

main.fade-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

h1 {
  z-index: 10;
  text-align: center;
}
