.index {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url(../img/top_back.jpg);
    background-size: cover;
    background-position: top;
    filter: grayscale(60%);
    &__effect {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
    &__logo {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        &--img {
            opacity: 0;
            animation: fadein 2s 5.5s forwards;
            z-index: 10;
        }
    }
    @keyframes fadein {
        from {
            opacity: 0;
            transform: translateY(120px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@for $i from 1 through 18 {
    $a: #{$i*90};
    $b: #{$i*90+360};

    .index__effect--blob:nth-child(#{$i}) {
        animation: move#{$i} 10s infinite linear;
    }

    @keyframes move#{$i} {
        from {
            transform: rotate(#{$a}deg) translate(250px, .1px) rotate(-#{$a}deg);
        }
        to {
            transform: rotate(#{$b}deg) translate(250px, .1px) rotate(-#{$b}deg);
        }
    }
}
