body {
    background-color: #000;
}

#page-start {
    &::before {
        content: '';
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130%;
        height: 100vh;
        top: 0;
        left: 100%;
        color: #999;
        text-align: center;
        background-color: #fff;
        background: url($bg-url) repeat 0 0;
        pointer-events: none;
    }
}

.is-slide-in {
    &::before {
        animation: slide-start 1.5s ease-in-out forwards;
        @keyframes slide-start {
            from {
                left: 100%;
                transform: skew(10deg);
            }
            to {
                left: 0;
            }
        }
    }
}


main {
    opacity: 0;
    visibility: hidden;
    transform: translateY(70px);
    transition: .8s;
    h1 {
        margin: 50px 0 100px;
        text-align: center;
    }
}
main.fade-in {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.works {
    &__item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 60px;
        max-width: 1740px;
        margin: 0 auto;
        &--img {
            max-width: 300px;
        }
    }
}
